.ContactData{
  margin:20px auto;
  text-align:center;
  width:80%;
  box-sizing:border-box;
  box-shadow: 0 2px 3px #ccc;
  border:1px solid #eee;
  padding:10px;
}
@media (min-width:600px){
    .ContactData{
      width:500px; 
    }
}